* {
  font-family: 'Lato', sans-serif;
  transition: all 0.3s ease; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; }

.homepage {
  height: 100vh;
  overflow: hidden; }

.main-nav {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px; }

.main-nav .logo {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: black; }

.main-nav .nav-item-container {
  position: relative; }

.main-nav .logo-container {
  position: absolute;
  left: 0; }

.main-grid {
  height: calc(100vh - 50px);
  margin-top: 50px; }
  .main-grid .row {
    margin: 0px 20px; }

.sign-in-container {
  position: absolute;
  right: 0; }

.sign-in-btn {
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  font-size: 14px;
  color: #797979;
  text-transform: uppercase; }

.hero-text {
  margin-top: 135px; }
  .hero-text .hero-text__subtitle {
    display: inline-block;
    position: relative;
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    color: black; }
  .hero-text .hero-text__subtitle.hero-text__subtitle--strike:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 5px;
    /* ADJUST HEIGHT TO ADD WEIGHT */
    background: #FC354C; }
  .hero-text .hero-text__title {
    margin: 0;
    font-size: 36px;
    color: black; }
  .hero-text .hero-text__cta-container {
    margin-top: 35px;
    text-align: center; }
  .hero-text .hero-text__cta {
    padding: 15px 35px;
    text-transform: uppercase;
    font-size: 16px;
    /* Rectangle: */
    background-image: -webkit-linear-gradient(143deg, #FE6583 3%, #FC354C 100%);
    background-image: -moz-linear-gradient(143deg, #FE6583 3%, #FC354C 100%);
    background-image: -o-linear-gradient(143deg, #FE6583 3%, #FC354C 100%);
    background-image: linear-gradient(233deg, #FE6583 3%, #FC354C 100%);
    border-radius: 10px;
    color: white; }
  .hero-text .hero-text__img {
    display: block;
    text-align: center;
    margin-top: 50px; }
    .hero-text .hero-text__img img {
      width: 250px; }

.sign-up {
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */ }
  .sign-up .sign-up__header {
    margin-top: 65px; }
  .sign-up .sign-up__header .sign-up__header-text-container {
    width: 80%;
    margin: 0 auto; }
  .sign-up .sign-up__header-subtitle {
    margin: 0;
    font-size: 18px; }
  .sign-up .sign-up__header-title {
    margin: 0;
    font-size: 28px;
    color: #FC354C; }
  .sign-up .sign-up__form {
    margin-top: 40px; }
  .sign-up hr {
    margin-top: 20px;
    width: 30px; }
  .sign-up div {
    position: relative;
    margin: 40px 0; }
  .sign-up input {
    width: 90%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    border: 1px solid #cecece;
    border-radius: 5px;
    font-size: 16px; }
    .sign-up input:focus ~ label {
      top: -20px; }
  .sign-up input:focus::-webkit-input-placeholder {
    color: transparent; }
  .sign-up input:focus:-moz-placeholder {
    color: transparent; }
  .sign-up input:focus::-moz-placeholder {
    color: transparent; }
  .sign-up input:focus:-ms-input-placeholder {
    color: transparent; }
  .sign-up label {
    position: absolute;
    z-index: -1;
    top: 0;
    font-size: 14px;
    color: black; }
  .sign-up .sign-up__create-account-btn {
    width: 100%;
    /* Rectangle: */
    background-image: -webkit-linear-gradient(143deg, #FE6583 3%, #FC354C 100%);
    background-image: -moz-linear-gradient(143deg, #FE6583 3%, #FC354C 100%);
    background-image: -o-linear-gradient(143deg, #FE6583 3%, #FC354C 100%);
    background-image: linear-gradient(233deg, #FE6583 3%, #FC354C 100%);
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }

.loading-overlay {
  position: fixed;
  top: 100%;
  height: 100vh;
  width: 100vw;
  background-image: -webkit-linear-gradient(143deg, #FE6583 3%, #FC354C 100%);
  background-image: -moz-linear-gradient(143deg, #FE6583 3%, #FC354C 100%);
  background-image: -o-linear-gradient(143deg, #FE6583 3%, #FC354C 100%);
  background-image: linear-gradient(233deg, #FE6583 3%, #FC354C 100%);
  transition: all 0.5s ease-out; }

.form-submitted .loading-overlay {
  top: 0%; }

/*# sourceMappingURL=main.css.map */
