<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>minibio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body class = "sign-up">
    <section class = "main-grid">
      <div class = "row">
        <header class = "sign-up__header">
          <div class = "sign-up__header-text-container">
            <h1 class = "sign-up__header-subtitle">Today's the day</h1>
            <h1 class = "sign-up__header-title">Create a minibio</h1>
            <hr></hr>
          <form class = "sign-up__form" id ="create-account">
            <div>
              <input name = "name" type = "text" placeholder = "name" v-model= "name"/>
              <label>name</label>
            </div>
            <div>
              <input name = "email" type = "email" placeholder = "email" v-model= "email"/>
              <label>email</label>
            </div>
            <div>
              <input name = "password" type = "password" placeholder = "password" v-model= "password"/>
              <label>password</label>
            </div>
            <button class = "sign-up__create-account-btn" v-on:click="createAccountSubmit">Create Account</button>
          </form>
          </div>   
        </header>
      </div>
    </section>
    <section class = "loading-overlay">
    </section>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC5uIfbHh1SIbBBYHq8KOqfuipLZVnjBdc",
    authDomain: "minibio-dccb1.firebaseapp.com",
    databaseURL: "https://minibio-dccb1.firebaseio.com",
    projectId: "minibio-dccb1",
    storageBucket: "minibio-dccb1.appspot.com",
    messagingSenderId: "269208056950"
  };
  firebase.initializeApp(config);
</script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/createAccount.js"></script>
    </body>
</html>